<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">{{ article.title }}</h4>
  <p>{{ article.publishedAt }}</p>
  
</div>
<div class="modal-body text-center">
  <div>
    <p>{{ article.author }}</p>
    <img src={{article.urlToImage}} class="img-thumbnail"/>
    <p>{{ article.content }}</p>
  </div>
</div>
<div class="footer">
  <a href="{{article.url}}" style="margin: 5px 5px 5px 5px;" class="btn btn-outline-primary" 
      role="button" aria-disabled="true" target="_blank">
    Artigo Completo
  </a>
  <button type="button" class="btn btn-outline-dark" style="margin: 5px 5px 5px 5px;" (click)="activeModal.close()">
    Fechar
  </button>
</div>