<html>
    <header lang="pt-br">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
    
      <title>Teste Homol Innovea</title>
    </header>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(atual)</span></a>
              </li>
            </ul>
          </div>
        </nav>
    
        <main role="main">
          <div class="jumbotron">
            <div class="container">
           
            </div>
          </div>
    
          <div class="container">
            <!-- Exemplo de linha de colunas -->
            <div class="row">
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                          <th>Author</th>
                          <th>Description</th>
                          <th>PublishedAt</th>
                          <th>

                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let article of listaArticles">
                            <td>{{ article.author }}</td>
                            <td>{{ article.description }}</td>
                            <td>{{ article.publishedAt }}</td>
                            <td>
                              <div class="btn-group">
                                <button type="button" 
                                        class="btn btn-outline-primary btn-sm"
                                        (click)="abrirArtigo(article)">
                                  Detalhes
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
    
            <hr>
    
          </div> <!-- /container -->
    
        </main>
    
        <footer class="container">
          <p>&copy; Companhia 2017-2018</p>
        </footer>
        
      </body>
  </html>
